* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

section{
    background-color: rgb(140, 140, 140);
    padding: 10px;
    height : 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > * {
    width: 500px;
}

section:nth-child(even) {
    background-color: rgb(105, 255, 218);
}

