* {
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}

:root{
    interpolate-size: allow-keywords;
}

    a{
        color: inherit;
    }

    body {
        font-family: system-ui;
    }


html {
    scroll-behavior: smooth;
}
section{
    background-color: rgb(190, 255, 247);
    padding: 10px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



section > * {
    width: min(500px, 100%);
    margin-left: auto;
    margin-right: auto;
}

section:nth-child(even){
    background-color: rgb(131, 220, 236);
}

#cabecera {
    color: rgb(17, 53, 32);
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 2px 2px 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        align-items: center;

    }

    a.actual {
        text-decoration: none;
        font-weight: bold;
    }
}

#hamburguesa {
    display: none;
}
    @media screen and (max-width: 510px) {

        #hamburguesa {

            display: flex;
            flex-direction: column;
            gap: 3px;

            border: none;
            background-color: transparent;

            div {
                width: 24px;
                height: 4px;
                background-color: black;

            }

        }
        #cabecera nav.open{
            display: block;
        }

        #cabecera nav {

            display: none;
            position: absolute;
            background-color: rgb(222, 184, 135, .5);
            top: 80px;
            right: 10px;
            padding: 10px;


            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }

details {
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    summary {
        background-color: rgb(104, 68, 0);
        color: white;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    summary:hover {
        background-color: rgb(131, 93, 39);
    }

    &:last-child summary {
        margin-bottom: 0;

    }

    p{
        padding: 10px;
    }
}

details::details-content {
    block-size: 0;
    transition: 1s;
    transition-behavior: allow-discrete;
}

details:open::details-content{
    block-size: auto;
}